@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #000000;
   height: 100vh;
   overflow: hidden;
}
header h4 {
    color: #fff;
    font-size: 18px;
}
header {
    padding: 0 10%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: animation2 2s linear;

}
header a {
    padding: 8px 30px;
    text-decoration: 0;
    font-size: 12px;
    border: 2px solid #5753cb;
    color: #5753cb;
    transition: 0.5s;
    position: relative;
}
header a:hover::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 50px;
    height: 15px;
    width: 15px;
    background-color: #5753cb;
    border: 2px solid #fff;
    border-radius: 50%;
}
header a:hover::before {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 50px;
    height: 15px;
    width: 15px;
    background-color: #5753cb;
    border: 2px solid #fff;
    border-radius: 50%;
}

header a:hover {
    background-color: #5753cb;
    border: 2px solid #fff;
    border-radius: 6px;
    transform: rotate(10deg);
    color: #fff;
}
.home {
    display: flex;
    align-items: center;
    height: calc(100% - 80px);
}
.left_right {
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    width: 45%;
    animation-delay: 1s;
    animation: animation1 2s linear;
}

.left span {
    color: #20669D;
    font-size: 12px;
}
.left h1 {
    color: #fff;
    margin: 20px 0;
    font-size: 35px;
    animation-delay: 2s;
    animation: animation1 2s linear;

}
.left p {
    color: #999;
    font-size: 12px;
}
.left .buttons {
    margin: 30px 0;
    animation-delay: 3s;
    animation: animation1 2s linear;
}
.left .buttons a {
    padding: 8px 30px;
    text-decoration: 0;
    font-size: 12px;
}
.buttons a:first-child {
    border: 2px  solid #5753cb;
    color: #5753cb;
}
.buttons a:last-child {
    background-color: #5753cb;
    color: #fff;
    border: 2px solid #5753cb;
    margin-left: 10px;
}


.right {
    width: 40%;
    perspective: 1000px;
    
}
.right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.5s;
    transform-style:preserve-3d;
    animation-delay: 2s;
    animation: animation1 2s linear;
}
.right img:hover {
    transform: rotateY(180deg);
}

/*Animations*/

@keyframes animation1 {
    from{
        transform: translateX(-600px);
    }
}

@keyframes animation2 {
    from {
        transform: translateY(-100px);
    }
}

